*.out
*.vtk
*.mat
*.log
**/*.png
**/*.PNG
**/input/
tests/Placeholder/wetP
tests/Placeholder/figures/*.png
tests/Placeholder/data/*.mat
tests/Placeholder/omnitrace-wetP-output
tests/Placeholder/omnitrace-wetP.inst-output
**/wetP*
**/run.exe*
**/*.exe*
**/figures*
**/out*
**/data*
.vscode
tags
